<div class="container">
    {{title}}
    <h2>Profile</h2>
</div>

<script>
	$(document).ready(function () {
		debugger;
		$("li,a").removeAttr('class');
         
        $('#lnkregister').addClass('nav-link');      
        $('#lnklogin').addClass('nav-link');        
		$('#lnkhome').addClass('nav-link');
        $('#lnklogout').addClass('nav-link');
		$('#lnkprofile').addClass('nav-link active');
	});
</script>

